# Gradle
name: CI de Testes do Projeto Quiz (Gradle)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    
    steps:
    
    # 1. Baixa o meu código
    - name: Checkout do Repositório
      uses: actions/checkout@v4
      
    # Configura o Java 8 (1.8) que uso
    - name: Configurar Java 8
      uses: actions/setup-java@v4
      with:
        java-version: '8' 
        distribution: 'temurin'
        cache: 'gradle' 
        
        
    # 4. Executa a compilação e os testes
    - name: Executar Build do Gradle e Rodar Testes
      # CORREÇÃO: Usamos 'gradle build' (o comando do sistema) em vez de './gradlew'
      run: gradle build
