# Gradle (Integração Contínua vejo aqui)
name: CI de Testes do Projeto Quiz (Gradle)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    
    steps:
    
    # Baixa o meu código
    - name: Checkout do Repositório
      uses: actions/checkout@v4
      
    # Tenno que usar o Java 17 para EXECUTAR O GRADLE
    - name: Configurar Java 17 (Obrigatorio para o Gradle)
      uses: actions/setup-java@v4
      with:
        java-version: '17' 
        distribution: 'temurin'
        cache: 'gradle' 
        
    # Executa a compilação e os testes
    # O build.gradle garante fará ser compilado para Java 8
    - name: Executar Build do Gradle e Rodar Testes
      run: gradle build
